{% extends 'shelves/base.html' %}

{% block header %}
<h1>旅リスト</h1>
<p><a href="{% url 'create' %}">新規作成</a></p>
<form method="get">
  <input type="search" value="{{ request.GET.query }}" 
         name="query" type="text" 
         placeholder=" Input keywords..">
  <button>Search</button>
</form>
{% endblock header %}

{% block content %}
<table>
  <thead>
      <tr>
        <th scope="col">旅タイトル</th>
      </tr>
  </thead>
  <tbody>
  {% for journey in journeys %}
  <tr>
      <td>{{ journey.title }}</td>
      <td><a href="{% url 'detail' journey.pk %}">詳細</a></td>
      <td><a href="{% url 'update' journey.pk %}">編集</a></td>
      <td><a href="{% url 'delete' journey.pk %}">削除</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content%}