{% load static %} 
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <h1>旅詳細ページ</h1>
    <a href="{% url 'list' %}">トップページに戻る</a>
    <h2><span class="under">{{journey.title}}</span></h2>
    <div class="tabi">
        旅した日
    </div>
    <p>{{journey.date}}</p>
    <div class="tabi">
        旅した場所
    </div>
    <p>{{journey.place}}</p>
    <div class="tabi">
        旅のジャンル
    </div>
    <p>{{journey.get_genre_display}}</p>
    <div class="tabi">
        旅の同行者
    </div>
    <p>{{journey.get_accompany_display}}</p>
    <div class="tabi">
        備忘録
    </div>
    <p>{{journey.text}}</p>
  </body>
</html>